@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
	margin: 0;
}

body {
	#root {
		height: 100%;
	}

	#scene-explorer-host,
	#inspector-host {
		z-index: 10;
		position: fixed !important;
	}
	font-family: 'Roboto', sans-serif;
	height: 200vh;
	color: black;
	background-color: rgb(18, 22, 34);

	canvas {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: transparent;
		z-index: 6;
		outline: none;
	}
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		padding: 0 20px;

		.overlay {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: white;
			opacity: 0;
			z-index: 8;
		}

		.title {
			margin: 0 auto;
			display: flex;
			justify-content: center;
			padding-top: 70vh;
			z-index: 9;
			flex-direction: column;
			align-items: center;

			.icon-scroll {
				width: 40px;
				height: 70px;
				box-shadow: inset 0 0 0 1px #fff;
				border-radius: 25px;
				position: relative;
				margin-bottom: 50px;

				&:before {
					position: absolute;
					left: 50%;
					content: '';
					width: 8px;
					height: 8px;
					background: #fff;
					margin-left: -4px;
					top: 8px;
					border-radius: 4px;
					animation-duration: 1.5s;
					animation-iteration-count: infinite;
					animation-name: scroll;

					@keyframes scroll {
						0% {
							opacity: 1;
						}
						100% {
							opacity: 0;
							transform: translateY(46px);
						}
					}
				}
			}
			h1 {
				font-size: 50px;
				text-align: center;

				@media screen and (min-width: 500px) {
					font-size: 100px;
				}
			}
		}
		.text {
			padding-top: 50vh;
			max-width: 400px;
			z-index: 9;

			p {
				text-align: center;
			}
		}
	}
}
