@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
	margin: 0;
}

html {
}

body {
	#root {
		height: 100%;
	}

	#scene-explorer-host,
	#inspector-host {
		z-index: 10;
		position: fixed !important;
	}
	font-family: 'Roboto', sans-serif;
	height: 200vh;
	color: black;
	background-color: rgb(18, 22, 34);

	canvas {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: transparent;
		z-index: 6;
	}
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		padding: 0 20px;

		.overlay {
			position: fixed;
			inset: 0;
			background-color: white;
			opacity: 0;
			z-index: 8;
			pointer-events: none;
		}

		.title {
			margin: 0 auto;
			display: flex;
			justify-content: center;
			padding-top: 80vh;
			z-index: 9;

			h1 {
				font-size: 50px;
				text-align: center;

				@media screen and (min-width: 500px) {
					font-size: 100px;
				}
			}
		}
		.text {
			padding-top: 50vh;
			max-width: 400px;
			z-index: 9;

			p {
				text-align: center;
			}
		}
	}
}
